<form asp-action="SignUp" asp-controller="Auth" method="post">
    <input  name="Email" type="text"/>
    <br />
    <input name="Password" type="text" />
    <br />
    <input name="Name" type="text" />
    <br />
    <input type="submit" />
</form>